# Flask>=2.0.0
# tushare>=1.2.80
# pyecharts>=1.9.0
# pandas>=1.0.0,<1.2.0
Flask==2.3.3
tushare==1.2.89
pyecharts==1.9.1
pandas==2.0.3
requests==2.31.0
beautifulsoup4==4.12.2
lxml==4.9.3
# 可以删除这一行
# eodhd==1.0.0
aiohttp>=3.7.4
asyncio>=3.4.3
openai==0.8.0